@import "base";

.checkbox {
  display: none;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}
.navbar {
  position: relative;
  z-index: 200;
  &-navigation {
    display: flex;

    &-left {
      width: 50vw;
      height: 100vh;
      background-color: white;
      color: $color-dark;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      @media (max-width: 800px) {
        display: none;
      }

      .left-img {
        width: 50%;
        position: absolute;
        width: 300px;
        box-shadow: 0 15px 60px black;
        border-radius: 10px;
        @media (max-width: 1300px) {
          width: 55%;
        }

        @media (max-width: 1000px) {
          width: 65%;
        }
      }
      .left-img-1 {
        top: 15%;
        left: 15%;
        @media (max-width: 1000px) {
          left: 5%;
        }
      }
      .left-img-2 {
        top: 35%;
        left: 25%;
        @media (max-width: 1000px) {
          left: 15%;
        }
      }
      .left-img-3 {
        top: 55%;
        left: 35%;
        @media (max-width: 1000px) {
          left: 25%;
        }
      }
    }
    &-right {
      width: -50vw;
      height: 100vh;
      background-color: $color-gray;
      color: $color-dark;
      position: fixed;
      right: -50vw;
      @include flexLayout;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);

      @media (max-width: 800px) {
        width: 100vw;
        right: -100vw;
      }
    }

    .nav-list {
      &-item {
        list-style: none;
      }
      &-link {
        font-family: $font-dancing;
        text-decoration: none;
        font-size: $text-lg;
        color: $color-dark;
        line-height: 5rem;
        display: block;
        letter-spacing: 2px;
        margin: 20px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
          color: $color-primary;
          letter-spacing: 4px;
        }
        @media (max-width: 1200px) {
          font-size: 40px;
          margin: 10px;
        }
        @media (max-width: 600px) {
          font-size: 20px;
          margin: 7px;
        }
      }
    }
  }
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(41, 41, 33, 0.473), rgba(90, 86, 86, 0.356)),
    url("/images/bg.jpeg");
  background-size: cover;
  background-position: center;

  .brand {
    //position: absolute;
    // top: 20%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    @include centering(15%);

    @media (max-width: 1000px) {
      margin-top: 30px;
      // margin-left: 30px;
    }
    @media (max-width: 500px) {
      font-size: 20px;
      text-align: center;
      @include centering(15%);
    }
  }
  &-banner {
    margin-top: 50px;
    text-align: center;
    @include centering(50%);

    @media (max-width: 1000px) {
      margin-top: 10px;
    }
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: $font-josefine;
  font-size: $text-sm;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: white;
  }

  @media (max-width: 1000px) {
    width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: 900;
    margin-top: 20px;
    padding: 8px;
  }
}

.about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 100px;

  @media (max-width: 900px) {
    height: 70vh;
  }

  &-left {
    width: 40%;
    color: white;

    @media (max-width: 1300px) {
      left: -150px;
    }
    @media (max-width: 1000px) {
      display: none;
    }
    img {
      width: 100%;
      opacity: 0.8;
    }
  }

  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;

    @media (max-width: 1300px) {
      padding: 0 50px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      height: 100vh;
      margin-top: 40px;
      margin-bottom: 150px;
      .sub-heading-about {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
    .stars {
      margin: 30px 0;
      @media (max-width: 1000px) {
        margin: 10px 0;
      }
    }
    .star {
      font-size: 15px;
      color: $color-primary;
      margin-left: 10px;
      @media (max-width: 1000px) {
        font-size: 8px;
        margin-top: 0;
      }
    }
    .description {
      font-family: $font-josefine;
      font-size: 25px;
      font-style: italic;
      text-align: justify;

      &::first-letter {
        padding-left: 50px;
      }

      @media (max-width: 1600px) {
        font-size: 18px;
      }
      @media (max-width: 1000px) and(min-width:551px) {
        width: 70%;
      }
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}

.gallery {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  padding: 7px 0;
  @include flexLayout;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    margin: 30px 0;
    color: $color-dark;

    .logo {
      color: $color-dark;
      border: 2px solid $color-dark;
    }
    .sub-name {
      color: $color-dark;
    }
  }
  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: 1000px) {
      width: 200px;
    }
    &-item {
      list-style: none;
    }
    &-link {
      text-decoration: none;
      font-size: 40px;
      color: $color-dark;

      &:hover {
        color: $color-primary;
        transition: 0.7s;
      }
      @media (max-width: 1000px) {
        font-size: 30px;
        justify-content: space-around;
      }
    }
  }

  &-copyright {
    font-family: $font-josefine;
    font-size: $text-sm;
    color: $color-primary;
    @include textStyles(capitalize);

    @media (max-width: 1000px) {
      width: 70%;
      margin: auto;
      text-align: center;
      font-size: 15px;
    }
  }
}
